<!DOCTYPE html>
% rebase('osnova.html', zavihek='history')
<div id="sidebar-right" class="sidebar">
    <div id="character">
        <h2>user character</h2>
    </div>
    <div id="dice-box">
        <form action="/roll/" method="POST">
            <label for="dice">Roll dice</label>
            <select name="dice" id="dice">
                <option value="100">d100</option>
                <option value="20" selected="true">d20</option>
                <option value="12">d12</option>
                <option value="10">d10</option>
                <option value="8">d8</option>
                <option value="6">d6</option>
                <option value="4">d4</option>
                <option value="2">d2</option>
            </select>
            <br>
            <input type="submit" value="Roll">
        </form>
        % if defined('roll'):
        <div id="last-rolls">
            <p> Your last roll: <strong>{{roll}}</strong></p>
        </div>
        % end
    </div>
</div>
<div id="history-display">
    % for dice in rolls.keys():
    <p>{{dice}} : {{rolls[dice]}}</p>
    % end
</div>
