<!DOCTYPE html>
% zavihki = [
%    'welcome',
%    'stran_mapa',
%    'stran_shared',
% ]
% zavihki = {
%    'welcome' : 'Welcome page',    
%    'stran_mapa' : 'Map display',
%    'stran_shared' : 'Browse shared'
% }

<html>
    <head>
        %if defined('map_seed'):
        <title>Map {{map_seed}}</title>
        %elif defined('zavihek'):
        <title>{{zavihki[zavihek]}}</title>
        %else:
        <title>D&D Map Generator</title>
        %end
        <link type="text/css" rel="stylesheet" href="/static/dopolnila.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script>
            $(window).load(function () {
                $(".trigger_popup").click(function(){
                    $('.hover_bkgr').show();
                });
                // $('.hover_bkgr').click(function(){
                //     $('.hover_bkgr').hide();
                // });
                $('.popupCloseButton').click(function(){
                    $('.hover_bkgr').hide();
                });
            });
        </script>
        <script src="https://www.google.com/jsapi"></script>
    </head>
    <body>
        <div class="top-bar">
            <div id="main_title"><a class="not-underlined" href="/">
                <h1>D&D Map Generator</h1>
            </a></div>
            <nav>
            <div id="search_bar">
                    <input type="text" id="sreach_querry" name="search_querry" placeholder="Search..." size="129">
                </div>
            </nav>
            <div id="user">
                <a class="trigger_popup">user@email</a>
                <p><strong>saves</strong></p>
                <p>everything else</p>
            </div>
            <div class="hover_bkgr" style="display: none;">
                <span class="helper"></span>
                <div>
                    <div class="popupCloseButton">x</div>
                    <form action="/user_login/" method="POST">
                        <label for="username">Username</label><br>
                        <input type="text" id="username" name="username"><br>
                        <label for="pass">Password</label><br>
                        <input type="password" id="pass" name="pass">
                        <input type="submit" value="Login">
                    </form>
                </div>
            </div>
        </div>
        <div class="section">
            {{!base}}
        </div>
    </body>
</html>
