<!DOCTYPE html>
% rebase('osnova.html', zavihek='stran_mapa', seed='map_seed')
% if defined('map_seed'):
%   w = str(1/(1.5*x) * 100)[:4] + "%"
%end 
<style>
    :root{
        --w:{{w}};
    }
    .cell{
        width: var(--w , 50px);
        padding-bottom: var(--w, 50px);
    }
</style>
<div class="sidebar sidebar-left">
    <div style="padding:1em"><form action="/display-random/" method="POST"><button id="generate-random-button">Generate random map</button></form></div>
    <div id="generation"><form action="/display-map/" method="Post">
        <label for="seed">Seed:</label>
        <input id="seed" name ="seed" type="number" maxlength="10" value="{{map_seed}}" size="8">
        <p>L: {{x}}</p>
        <p>H: {{y}}</p>
        <p>C: {{c}}</p>
        <input type="submit" value="Generate" class="button1"> <input type="reset" class="button1"> 
    </form></div>
    <div id="assets">
        <h3>Assets</h3><br>
        <p>Coming soon!</p>
    </div>
</div>
<div class="dynamic-display">
    <div id="bulletin-board-display">
        <div id="top-plank" class="plank"></div>
        <div id="left-plank" class="plank"></div>
        <div class="map">
            <table style="width:100%; border-collapse: unset; text-indent: 0; border-spacing:0">
                %for j in grid:
                <tr>
                    %for i in j:
                    %if i == 1:
                    <td class="cell platform"></td>
                    %elif i == 2:
                    <td class="cell begin-platform"></td>
                    %elif i == 3:
                    <td class="cell end-platform"></td>
                    %else:
                    <td class="cell"></td>
                    %end
                    %end
                </tr>
                %end
            </table>
        </div>
        <div id="right-plank" class="plank"></div>
        <div id="bottom-plank" class="plank">
            <form action="/save-map/" method="POST" id="save-button">
                <input type="submit" value="Save map" class="button1" style="float:right; margin-right:1em; margin-top: 0.3em;"/>
            </form>
        </div>
    </div>
</div>
<div class="sidebar sidebar-right">
    <div id="user-character">
        <p>User character</p>
        <p>Coming soon!</p>
        <p style="font-size:70%;">In the meantime, head to <a href="https://www.dndbeyond.com/" style="background-color:black; color: white;">DnD Beyond</a> for character sheets!</p>
    </div>
    %if defined('user') and user != 'no_user':
    <div id="history-button">
            <a href="/display_rolls/">View roll history</a>
    </div>
    %end
    <div id="dice-wrapper">
        <form action="/roll/" method="POST">
            <select name="dice" id="dice" class="roll-dice-button">
                <option value="100">d100</option>
                <option value="20" selected>d20</option>
                <option value="12">d12</option>
                <option value="10">d10</option>
                <option value="8">d8</option>
                <option value="6">d6</option>
                <option value="4">d4</option>
                <option value="2">d2</option>
            </select>
            <input type="submit" value="Roll" class="button1" id="roll-button">
        </form>
        
        % if defined('roll'):
        <div id="last-rolls">
            <p> Your last roll: <strong>{{roll}}</strong></p>
            %end
        </div>
    </div>
</div>