<!DOCTYPE html>
% rebase('predloga.html', zavihek='stran_mapa', seed='map_seed')

<div>
    <div id="map">
        <table>
            %for j in grid:
                <tr>
                %for i in j:
                    %if i == 1:
                    <td class="platform"> 1 </td>
                    %elif i == 2:
                    <td class="beginend-platform"> 2 </td>
                    %else:
                    <td class="grid_cell"> 0 </td>
                    %end
                %end
                </tr>
            %end
        </table>
    </div>
</div>