@font-face {
    font-family: Luminari;
    src: url(Luminari-Regular.ttf)
}
.funky_text {
    font-family: Luminari;
}
.top-bar {
    /* display: flex; */
    position: sticky;
    width: 100%;
    height: 8em;
    border: 2px dotted gray;
    font-family: Luminari, monospace;
}
.section {
    width: 100%;
    height:40em;
    margin-top:2%;
    float:left;
    /* border:2px solid black */
}
.sidebar{
    display: block;
    height: 45em;
    width: 15%;
    border: 2px dotted gray;
    font-family: Luminari, monospace;
}
.big_title{
    position: relative;
    width : 50%;
    height: 50%;
    margin-top: 30%;
    margin-left: 30%;
}
.not-underlined{
    text-decoration: none;
    color: black;
}
.is-underlined{
    text-decoration: underline;
    color: black;
}
#main_title {
    width: 20%;
    height: 90%;
    float: left;
    border: 2px solid black;
}

#search_bar {
    height: auto;
    width: 50%;
    float: left;
    margin-left: 20px;
    margin-top: 54px;
    font-family: monospace;
    text-align: left;
}

#user {
    height: 90%;
    width: 20%;
    float:right;
    border: 2px inset gray;
    font-family: monospace;
    text-align: center;
}
#sidebar-left{
    float: left;
}

#sidebar-right{
    float:right;
}
#start-display{
    display: block;
    width :60em;
    height: 45em;
    margin: 2%;
    float:left;
}

#character {
    display: block;
    width: 80%;
    height: 40%;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid black;
}

#dice {
    display: block;
    width: 80%;
    height: 55%;
    margin-top: 1em;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid black;
}

#map {
    display: table;
    width : 65%;
    height:110%;
    float:left;
}
.cell {
    /* position: relative; ta stvar tukej konkretno sfuka display order */ 
    border: 1px solid black; /* jebes css kdorkol je to izumu se lah vrze v krsko nuklearko */
}
.platform{
    background-color: black;
}
.begin-platform{
    background-color: red;
}
.end-platform{
    background-color: lightblue;
}

/* .grid_cell{
    background-color: white;
    border: 2px solid black;
    color: white;
}
.platform{
    background-color: black;
    border: 2px solid black;
    font-family: monospace;
}

.beginend-platform{
    background-color: red;
    border: 2px solid black;
    font-family: monospace;

} */
/* not really a test anymore, will edit later though */
#existing-user{
    float:left;
}
#new-user{
    float:right;
}


.hover_bkgr{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}