@font-face {
    font-family: Luminari;
    src: url(Luminari-Regular.ttf)
}
.funky_text {
    font-family: Luminari;
}
.top-bar {
    width: 100%;
    height: 8em;
    border: 2px dotted gray;
    font-family: Luminari, monospace;
}
.sidebar{
    height: 45em;
    width: 15%;
    border: 2px dotted gray;
    font-family: Luminari, monospace;
}
.section {
    width: 60em;
    height:40em;
    margin: 5%;
    margin-top:2%;
    float:left;
    border:2px solid black
}
.big_title{
    position: relative;
    width : 50%;
    height: 50%;
    margin-top: 30%;
    margin-left: 30%;
}
.not-underlined{
    text-decoration: none;
    color: black;
}

#main_title {
    width: 20%;
    height: 90%;
    float: left;
    border: 2px solid black

}

#search_bar {
    height: auto;
    width: 50%;
    float: left;
    margin-left: 20px;
    margin-top: 54px;
    font-family: monospace;
    text-align: left;
}

#user {
    height: 90%;
    width: 20%;
    float:right;
    border: 2px inset gray;
    font-family: monospace;
    text-align: center;
}
#sidebar-left{
    float: left;
}

#sidebar-right{
    float:right;
}
#start-display{
    margin-left: 23em;
    margin-top: 19em;
}
#map {
    width : 960px;
    height : 640px;
    float:left;
}

.grid_cell{
    background-color: white;
    border: 2px solid black;
    color: white;
}
.platform{
    background-color: black;
    border: 2px solid black;
    font-family: monospace;
}

.beginend-platform{
    background-color: red;
    border: 2px solid black;
    font-family: monospace;

}